<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Application</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" href="https://cdn4.iconfinder.com/data/icons/the-weather-is-nice-today/64/weather_24-128.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
    <link rel="stylesheet" href="\css\style.css">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <div class="container-fluid p-4">
        <div class="row g-0">
            <nav class="col-3 bg-white pr-3">
                <div class="text-sm-start text-lg-center">
                    <div class="">
                        <p class="" id="city">
                            <% if(city !==null) {%>
                                <%= city %>, <%= country %>
                                        <% } %>
                        </p>
                    </div>
                </div>
                <div class="text-sm-start text-lg-center  mx-sm-2">
                    <% if(icon !==null) {%>
                        <img src="http://openweathermap.org/img/w/<%= icon %>.png" alt="" class="img-fluid"
                            width="100px" height="100px">
                        <% } %>
                </div>
                <div class="text-sm-start text-lg-center  mx-sm-4 mt-3">
                    <% if(temp !==null) {%>
                        <h1 class="font-weight-normal">
                            <%= temp %>°C
                        </h1>
                        <% } %>
                </div>
                <div class="text-sm-start text-lg-center  mx-sm-4 mt-3">
                    <p class="font-weight-normal" id="date"> <span class=" d-none d-lg-block">Today's date -</span>
                        <span id="demo"></span>
                    </p>
                </div>
                <hr class="m-lg-4 m-sm-1">
                <div class="text-sm-start text-lg-center  mx-sm-4 mt-4">
                    <p class="" id="des">
                        <img src="https://image.flaticon.com/icons/png/128/2932/2932445.png" alt="" width="25px"
                            height="25px" class=" d-none d-lg-inline mb-1 pe-1">
                        <!-- <i class="fas fa-home d-none d-lg-inline"></i> -->
                        <% if(des !==null) {%>
                            <span class="">
                                <%= des %>
                            </span>
                            <% } %>
                    </p>
                </div>
                <div class="text-sm-start text-lg-center  mx-sm-4 mt-2">
                    <p class="" id="humidity">
                        <i class="fa fa-tint d-none d-lg-inline pe-1 ml-1" aria-hidden="true" id="rain-icon"></i>
                        <!-- <i class="fas fa-home d-none d-lg-inline"></i> -->
                        <% if(humidity !==null) {%>
                            <span class="ml-1">Humidity-<%= humidity %> %</span>
                            <% } %>

                    </p>
                </div>
                <div class="p-3 text-sm-start text-lg-center mx-sm-1 d-xs-none d-sm-none d-md-none">
                    <img class="img-fluid rounded"
                        src="https://i.pinimg.com/originals/82/71/1c/82711cb32fe89dc2911da14d1c506f72.jpg" width="300px"
                        height="150px">
                </div>
            </nav>
            <main class="col-9 bg-light">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="flex-fill"></div>
                    <form action="/" method="POST" class="m-2 mx-4">
                        <div class="input-group mb-3">
                            <input type="text" name="city" placeholder="Enter the city"
                                class="form-control shadow bg-body rounded">
                        </div>
                    </form>
                </nav>
                <div class="container-fluid mb-4 p-4">
                    <!-- <p class="fs-6">7-DAY WEATHER FORECASTING</p> -->
                    <ul class="nav nav-tabs">
                        <li class="nav-item" id="tab1">
                            <a class="nav-link active" aria-current="page" href="#">Weekly</a>
                        </li>
                        <li class="nav-item" id="tab2">
                            <a class="nav-link active" aria-current="page" href="#">Hourly</a>
                        </li>
                    </ul>
                    <div class="content" id="content1">
                        <div class="row flex-column flex-lg-row">
                            <div class="col">
                                <center>
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <p class="card-title">Today</p>
                                            <% if(first_day_icon !==null) {%>
                                                <img class="icon"
                                                    src="http://openweathermap.org/img/w/<%= first_day_icon %>.png"
                                                    alt=''>
                                                <% } %>
                                                    <% if(first_day_temp !==null) {%>
                                                        <p class="card-subtitle mt-3">
                                                            <%= first_day_temp %>°C
                                                        </p>
                                                        <% } %>
                                        </div>
                                    </div>
                            </div>
                            </center>
                            <div class="col">
                                <center>
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <p class="card-title">2nd Day</p>
                                            <% if(second_day_icon !==null) {%>
                                                <img class="icon"
                                                    src="http://openweathermap.org/img/w/<%= second_day_icon %>.png"
                                                    alt=''>
                                                <% } %>
                                                    <% if(second_day_temp !==null) {%>
                                                        <p class="card-subtitle mt-3">
                                                            <%= second_day_temp %>°C
                                                        </p>
                                                        <% } %>
                                        </div>
                                    </div>
                            </div>
                            </center>
                            <div class="col">
                                <center>
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <p class="card-title">3rd Day</p>
                                            <% if(third_day_icon !==null) {%>
                                                <img class="icon"
                                                    src="http://openweathermap.org/img/w/<%= third_day_icon %>.png"
                                                    alt=''>
                                                <% } %>
                                                    <% if(third_day_temp !==null) {%>
                                                        <p class="card-subtitle mt-3">
                                                            <%= third_day_temp %>°C
                                                        </p>
                                                        <% } %>
                                        </div>
                                    </div>
                            </div>
                            </center>
                            <div class="col">
                                <center>
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <p class="card-title">4th Day</p>
                                            <% if(fourth_day_icon !==null) {%>
                                                <img class="icon"
                                                    src="http://openweathermap.org/img/w/<%= fourth_day_icon %>.png"
                                                    alt=''>
                                                <% } %>
                                                    <% if(fourth_day_temp !==null) {%>
                                                        <p class="card-subtitle mt-3">
                                                            <%= fourth_day_temp %>°C
                                                        </p>
                                                        <% } %>
                                        </div>
                                    </div>
                            </div>
                            </center>
                            <div class="col">
                                <center>
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <p class="card-title">5th Day</p>
                                            <% if(fifth_day_icon !==null) {%>
                                                <img class="icon"
                                                    src="http://openweathermap.org/img/w/<%= fifth_day_icon %>.png"
                                                    alt=''>
                                                <% } %>
                                                    <% if(fifth_day_temp !==null) {%>
                                                        <p class="card-subtitle mt-3">
                                                            <%= fifth_day_temp %>°C
                                                        </p>
                                                        <% } %>
                                        </div>
                                    </div>
                            </div>
                            </center>
                            <div class="col">
                                <center>
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <p class="card-title">6th Day</p>
                                            <% if(sixth_day_icon !==null) {%>
                                                <img class="icon"
                                                    src="http://openweathermap.org/img/w/<%= sixth_day_icon %>.png"
                                                    alt=''>
                                                <% } %>
                                                    <% if(sixth_day_temp !==null) {%>
                                                        <p class="card-subtitle mt-3">
                                                            <%= sixth_day_temp %>°C
                                                        </p>
                                                        <% } %>
                                        </div>
                                    </div>
                            </div>
                            </center>
                            <div class="col">
                                <center>
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <p class="card-title">7th Day</p>
                                            <% if(seventh_day_icon !==null) {%>
                                                <img class="icon"
                                                    src="http://openweathermap.org/img/w/<%= seventh_day_icon %>.png"
                                                    alt=''>
                                                <% } %>
                                                    <% if(seventh_day_temp !==null) {%>
                                                        <p class="card-subtitle mt-3">
                                                            <%= seventh_day_temp %>°C
                                                        </p>
                                                        <% } %>
                                        </div>
                                    </div>
                            </div>
                            </center>
                        </div>
                    </div>
                    <div class="content" id="content2">
                        <div class="row flex-column flex-lg-row">
                            <div class="col">
                                <center>
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <p class="card-title">3:00 AM</p>
                                            <% if(hourly_icon_1 !==null) {%>
                                                <img class="icon"
                                                    src="http://openweathermap.org/img/w/<%= hourly_icon_1 %>.png"
                                                    alt=''>
                                                <% } %>
                                                    <% if(hourly_temp_1 !==null) {%>
                                                        <p class="card-subtitle mt-3">
                                                            <%= hourly_temp_1 %>°C
                                                        </p>
                                                        <% } %>
                                        </div>
                                    </div>
                            </div>
                            </center>
                            <div class="col">
                                <center>
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <p class="card-title">6:00 AM</p>
                                            <% if(hourly_icon_2 !==null) {%>
                                                <img class="icon"
                                                    src="http://openweathermap.org/img/w/<%= hourly_icon_2 %>.png"
                                                    alt=''>
                                                <% } %>
                                                    <% if(hourly_temp_2 !==null) {%>
                                                        <p class="card-subtitle mt-3">
                                                            <%= hourly_temp_2 %>°C
                                                        </p>
                                                        <% } %>
                                        </div>
                                    </div>
                            </div>
                            </center>
                            <div class="col">
                                <center>
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <p class="card-title">9:00 AM</p>
                                            <% if(hourly_icon_3 !==null) {%>
                                                <img class="icon"
                                                    src="http://openweathermap.org/img/w/<%= hourly_icon_3 %>.png"
                                                    alt=''>
                                                <% } %>
                                                    <% if(hourly_temp_3 !==null) {%>
                                                        <p class="card-subtitle mt-3">
                                                            <%= hourly_temp_3 %>°C
                                                        </p>
                                                        <% } %>
                                        </div>
                                    </div>
                            </div>
                            </center>
                            <div class="col">
                                <center>
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <p class="card-title">12:00 PM</p>
                                            <% if(hourly_icon_4 !==null) {%>
                                                <img class="icon"
                                                    src="http://openweathermap.org/img/w/<%= hourly_icon_4 %>.png"
                                                    alt=''>
                                                <% } %>
                                                    <% if(hourly_temp_4 !==null) {%>
                                                        <p class="card-subtitle mt-3">
                                                            <%= hourly_temp_4 %>°C
                                                        </p>
                                                        <% } %>
                                        </div>
                                    </div>
                            </div>
                            </center>
                            <div class="col">
                                <center>
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <p class="card-title">3:00 PM</p>
                                            <% if(hourly_icon_5 !==null) {%>
                                                <img class="icon"
                                                    src="http://openweathermap.org/img/w/<%= hourly_icon_5 %>.png"
                                                    alt=''>
                                                <% } %>
                                                    <% if(hourly_temp_5 !==null) {%>
                                                        <p class="card-subtitle mt-3">
                                                            <%= hourly_temp_5 %>°C
                                                        </p>
                                                        <% } %>
                                        </div>
                                    </div>
                            </div>
                            </center>
                            <div class="col">
                                <center>
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <p class="card-title">6:00 PM</p>
                                            <% if(hourly_icon_6 !==null) {%>
                                                <img class="icon"
                                                    src="http://openweathermap.org/img/w/<%= hourly_icon_6 %>.png"
                                                    alt=''>
                                                <% } %>
                                                    <% if(hourly_temp_6 !==null) {%>
                                                        <p class="card-subtitle mt-3">
                                                            <%= hourly_temp_6 %>°C
                                                        </p>
                                                        <% } %>
                                        </div>
                                    </div>
                            </div>
                            </center>
                            <div class="col">
                                <center>
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <p class="card-title">9:00 PM</p>
                                            <% if(hourly_icon_7 !==null) {%>
                                                <img class="icon"
                                                    src="http://openweathermap.org/img/w/<%= hourly_icon_7 %>.png"
                                                    alt=''>
                                                <% } %>
                                                    <% if(hourly_temp_7 !==null) {%>
                                                        <p class="card-subtitle mt-3">
                                                            <%= hourly_temp_7 %>°C
                                                        </p>
                                                        <% } %>
                                        </div>
                                    </div>
                            </div>
                            </center>
                            <div class="col">
                                <center>
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <p class="card-title">12:00 AM</p>
                                            <% if(hourly_icon_8 !==null) {%>
                                                <img class="icon"
                                                    src="http://openweathermap.org/img/w/<%= hourly_icon_8 %>.png"
                                                    alt=''>
                                                <% } %>
                                                    <% if(hourly_temp_8 !==null) {%>
                                                        <p class="card-subtitle mt-3">
                                                            <%= hourly_temp_8 %>°C
                                                        </p>
                                                        <% } %>
                                        </div>
                                    </div>
                            </div>
                            </center>
                        </div>
                    </div>
                    <div class="row flex-column flex-lg-row mt-4">
                        <p class="fs-6">Today's Highlights</p>
                        <div class="col">
                            <center>
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <p class="card-title text-primary">Current Temperature</p>
                                        <div class="mt-3">
                                            <p class="">
                                                <i class="fa fa-thermometer-three-quarters" aria-hidden="true"></i>
                                                <!-- <i class="fas fa-home d-none d-lg-inline"></i> -->
                                                <span class="ms-1">Feels Like - <% if(feels_like !==null) {%>
                                                        <span>
                                                            <%= feels_like %>
                                                        </span>
                                                        <% } %> <span>°C</span></span>
                                                <!-- <span class="ml-1">Feels-like - 29.56°C</span> -->
                                            </p>
                                        </div>
                                        <div class="">
                                            <p class="">
                                                <i class="fa fa-thermometer-three-quarters" aria-hidden="true"></i>
                                                <!-- <i class="fas fa-home d-none d-lg-inline"></i> -->
                                                <span class="ms-1">Minimum - <% if(temp_min !==null) {%>
                                                        <span>
                                                            <%= temp_min %>
                                                        </span>
                                                        <% } %> <span>°C</span></span>
                                            </p>
                                        </div>
                                        <div class="">
                                            <p class="">
                                                <i class="fa fa-thermometer-three-quarters" aria-hidden="true"></i>
                                                <!-- <i class="fas fa-home d-none d-lg-inline"></i> -->
                                                <span class="ms-1">Maximum - <% if(temp_max !==null) {%>
                                                        <span>
                                                            <%= temp_max %>
                                                        </span>
                                                        <% } %> <span>°C</span></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </center>
                        </div>
                        <div class="col">
                            <center>
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <p class="card-title text-primary">Wind Status</p>
                                        <% if(wind_speed !==null) {%>
                                            <h2 class="h2 mt-4 pb-1">
                                                <%= wind_speed %> <span>mph</span>
                                            </h2>
                                            <% } %>
                                                <p class="card-subtitle mt-4 pb-4">Degree - <% if(wind_deg !==null) {%>
                                                        <%= wind_deg %>°
                                                </p>
                                                <% } %>
                                    </div>
                                </div>
                            </center>
                        </div>
                        <div class="col">
                            <center>
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <p class="card-title text-primary">Today's weather description</p>
                                        <div class="mt-3 me-4 pb-3 pt-3">
                                            <p class="">
                                                <img src="https://image.flaticon.com/icons/png/128/3314/3314019.png"
                                                    alt="" width="20px" height="20px">
                                                <!-- <i class="fas fa-home d-none d-lg-inline"></i> -->
                                                <span class="ms-1">Condition - <% if(weather_condition !==null) {%>
                                                        <%= weather_condition %>
                                                </span>
                                                <% } %>
                                            </p>
                                        </div>
                                        <div class="ms-5 pb-2">
                                            <p class="">
                                                <img src="https://image.flaticon.com/icons/png/128/3314/3314019.png"
                                                    alt="" width="20px" height="20px">
                                                <!-- <i class="fas fa-home d-none d-lg-inline"></i> -->
                                                <span class="ms-1">Description -<% if(des !==null) {%>
                                                        <%= des %>
                                                </span>
                                                <% } %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="row flex-column flex-lg-row mt-4">
                        <div class="col">
                            <center>
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="mt-1">
                                            <p class="">
                                                <img src="https://image.flaticon.com/icons/png/128/556/556958.png"
                                                    alt="" width="100px" height="100px">
                                            </p>
                                        </div>
                                        <div class="">
                                            <p class="">
                                                <span class="ml-1">Pressure - <% if(pressure !==null) {%>
                                                        <%= pressure %> PS
                                                            <% } %></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </center>
                        </div>
                        <div class="col">
                            <center>
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="mt-1">
                                            <p class="">
                                                <img src="https://image.flaticon.com/icons/png/128/916/916979.png"
                                                    alt="" width="100px" height="100px">
                                            </p>
                                        </div>
                                        <div class="">
                                            <p class="">
                                                <span class="ml-1">Cloud Percentage - <% if(cloud_percent !==null) {%>
                                                        <%= cloud_percent %> %
                                                            <% } %></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </center>
                        </div>
                        <div class="col">
                            <center>
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <p class="card-title text-primary">Other Contents</p>
                                        <div class="mt-3 me-5">
                                            <p class="">
                                                <img src="https://image.flaticon.com/icons/png/128/833/833325.png"
                                                    alt="" width="20px" height="20px">
                                                <!-- <i class="fas fa-home d-none d-lg-inline"></i> -->
                                                <span class="ms-1">Sea-Level - <% if(sea_level !==null) {%>
                                                        <%= sea_level %></span>
                                                <% } %>
                                            </p>
                                        </div>
                                        <div class="me-4">
                                            <p class="">
                                                <img src="https://image.flaticon.com/icons/png/128/3533/3533610.png"
                                                    alt="" width="20px" height="20px">
                                                <!-- <i class="fas fa-home d-none d-lg-inline"></i> -->
                                                <span class="ms-1">Ground-level -<% if(grnd_level !==null) {%>
                                                        <%= grnd_level %></span>
                                                <% } %>
                                            </p>
                                        </div>
                                        <div class="">
                                            <p class="">
                                                <img src="https://image.flaticon.com/icons/png/128/633/633655.png"
                                                    alt="" width="20px" height="20px">
                                                <!-- <i class="fas fa-home d-none d-lg-inline"></i> -->
                                                <span class="ms-1">Visibility-Level -<% if(visibility !==null) {%>
                                                        <%= visibility %></span>
                                                <% } %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>

            </main>
        </div>
    </div>
    <script>
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1;

        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        var today = dd + '/' + mm + '/' + yyyy;
        document.getElementById("demo").innerHTML = today;
        document.querySelector("#tab1").onclick = function () {
            document.querySelector("#tab1").style.opacity = 1;
            document.querySelector("#tab2").style.opacity = 0.5;
            document.querySelector("#content1").style.display = "block";
            document.querySelector("#content2").style.display = "none";
        }

        document.querySelector("#tab2").onclick = function () {
            document.querySelector("#tab1").style.opacity = 0.5;
            document.querySelector("#tab2").style.opacity = 1;
            document.querySelector("#content1").style.display = "none";
            document.querySelector("#content2").style.display = "block";
        }
    </script>
</body>

</html>